[user]
	email = alexzerpawanner+tech@gmail.com
	name = Alexander Zerpa
	signingkey = /home/alex/.ssh/id_ed25519.pub
[core]
	pager = less -+X
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/alex/.ssh/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true

[includeIf "gitdir:~/zaleos/"]
    path = zaleos/.gitconfig-zaleos
